<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/postal" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-user"></span>Postal Calculator</a>
      </li>
    </ul>
  </div>
</nav>