
body {
  background: #5A716A;
  width: 100%;
  margin: auto;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  min-height: 49vw;
}

body > *{
  flex-grow: 0;
}

body > nav + .container {
  flex-grow: 1;
}

footer {
  background: #f8f9fa!important;
}

form {
  border: 2px solid #5A716A;
  padding: 10px;
}

.right-border {
  border-right: 2px solid #5A716A;
}

.bottom-border {
  border-bottom: 2px solid #5A716A;
  margin-bottom: 15px;
}

.padding-15px-left {
  padding-left: 15px;
}

.container {
  background: #8CDFD6;
  min-height: 400px;
}

.green-border-2px {
  border: 2px solid #5A716A;
}

.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

