<!DOCTYPE html>
<html>
<head>
    <title id='browserTabName'>Clients</title>
    <% include ../partials/header.ejs %>

</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="container">
        <div id='topHeader' class='text-center bottom-border'>
            <h1 id="pageTitle">Clients</h1>
        </div>
        <div>
            <% console.log(clientInfo.id) %> 

            <button class="btn btn-primary" onclick=getAllClients() id='viewAllClientButton'>View All</button>
            <button class="btn btn-primary" onclick=addNewClientNeededData() id='viewAllClientButton'>Add New</button>
        </div>
        <div id='content'>
            <div class="row">    
                <div class='col-med-6'>
                    <!-- Contains the ajax responses -->
                    <div id="response" class="responses">
                        <p>Click the "View All" button to get started</p>
                    </div><!-- End of response -->

                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>

