<!DOCTYPE html>
<html>
<head>
    <title>Clients</title>
    <% include ../partials/header.ejs %>

</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="container">
        <div id='topHeader' class='text-center bottom-border'>
            <h1>Clients</h1>
        </div>
        <div>
            <button class="btn btn-primary" onclick=getAllClients()>View All</button>
        </div>
        <div id='content'>
            <div class="row">    
                <div class='col-sm-6'>
                    <div id="response">
                        
                    </div>
                </div>

            </div>

            <div>
                <h1>Test</h1>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>

