<!DOCTYPE html>
<html>
<head>
    <title>Clients</title>
    <% include ../partials/header.ejs %>

</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="container">
        <div id='topHeader' class='text-center bottom-border'>
            <h1>Clients</h1>
        </div>
        <div>
            <button class="btn btn-primary" onclick=getAllClients()>View All</button>
        </div>
        <div id='content'>
            <div class="row">    
                <div class='col-sm-6'>
                    <!-- Contains the ajax responses -->
                    <div id="response">
                        
                    </div><!-- End of response -->
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>

