<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
      
<body>
    <% include ../partials/nav.ejs %>
    <h1>Result</h1>
    <p>The result of <%= firstNumber %> <%= operationUsed %> <%= secondNumber %> = <%= result %></p>
</body>
</html>

