<!DOCTYPE html>
<html>
<head>
  <title>Node.js Home</title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="container">
    <div id='topHeader' class='text-center'>
      <h1>Welcome To Node.js Assignments</h1>
    </div>
    <div id='content'>
      <p>This website is for my programming class at BYU Idaho.  It will contain my node.js assignments for the next couple weeks worth of assignments.</p>
      <p>The menu at the top will show the assignments I have completed so far.</p>
    </div>
  </div>

  <% include ../partials/footer.ejs %>
</body>
</html>
