<!DOCTYPE html>
<html>
<head>
  <title>Node.js Home</title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="container">
    <div id='topHeader' class='text-center'>
      <h1>Welcome to Node.js Assignments</h1>
    </div>
    <div id='content'>
      <p>This website is for my programming class at BYU Idaho.  It will contain my node.js assignments</p>
    </div>
  </div>

</body>
</html>
